@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  --line-color: #e5e7eb !important;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2) !important;

}

html, body {
  overflow-x: hidden !important;
}

.borderBlack {
  @apply border border-black/10;
}